body {
	max-width: 960px;
	background-image: 
}

img {
	width: 350px;
	height: 350px;
}

.container {
	background-color: purple;
	width: 960px;
}
h1 {
	font-size: 64px;

}

.box {
	border-color: black;
	border-width: 7px;
	border-style: dotted;
	opacity: 0.5%;
}

p {
	font-size: 20px;
	margin-left: 40px;
}

#blankWord {
	text-align: center;
}
